

<footer class="border-top bg-success text-light mt-5">
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-12 col-md-4 text-center">
        &copy; 2021 - Soul Money
      </div>
      <div class="col-12 col-md-4 text-center text-light">
        <a href="#" style="text-decoration: none;" class="text-light"> Política de Privacidade</a>
      </div>
      <div class="col-12 col-md-4 text-center text-light ">
        <a href="#" style="text-decoration: none;" class="text-light"> Administração </a>
      </div>

    </div>
  </div>

</footer>
